.card-list__card-item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 324px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 0 37px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
