.card-list__card-item {
  display: grid;

  @media (min-width: @tablet-width) {
    width: 324px;
    display: block;
    background-color: #cdcdcd;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
