.catalog-products__card-list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-list__card-item {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    display: block;
    background-color: #cdcdcd;
  }
}
