.catalog-products__catalog-gift {
  padding: 43px 61px 43px 58px;
  margin: 35px 0;
  background-color: #68B738D9;
  height: 290px;
  color: #ffffff;
  border-top: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    height: 200px;
    padding: 71px 125px;
  }

  @media (min-width: @desktop-width) {
    height: 288px;
    margin-left: 80px;
    margin-top: 0;
    padding: 43px 42px;
  }
}

.catalog-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;

  @media (min-width: @tablet-width) {
  font-size: 60px;
  line-height: 60px;
  }
}

.catalog-products__card-list {
  .list-reset();

  @media (min-width: @tablet-width) {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  }

  @media (min-width: @desktop-width) {
  width: 1220px;
  }
}

.catalog-products__additional-products-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin: 26px 0 36px 0;

  @media (min-width: @tablet-width) {
  margin-top: 70px;
  font-size: 36px;
  line-height: 36px;
  }

  @media (min-width: @desktop-width) {
  margin-top: 76px;
  }
}

.catalog-products__additional-products-div {
  @media (min-width: @desktop-width) {
  display: flex;
  margin-top: 80px;
  }
}

.catalog-products__catalog-gift-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
