.examples {
  background-color: #eaeaea;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    background-color: #eaeaea;
  }

}

.examples__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.examples__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.examples__description {
  display: block;

  @media (min-width: @tablet-width) {
  display: flex;
  }

  @media (min-width: @tablet-width) {
  display: block;
  }
}

.examples__table {
  border: 1px solid #808080;
}

.examples__detail-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.examples__detail-text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.examples__result {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
