.extra-card {
  display: grid;
  @media (min-width: @tablet-width) {
  padding: 0 37px;
  }
}

.extra-card__button-product {
  position: relative;
  align-self: center;
  justify-self: center;

  @media (min-width: @tablet-width) {
  margin: 50px 132px;
}

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(180deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-90deg);
  }
}

.extra-card__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  justify-self: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.extra-card__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #111111;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.extra-card__button {
  display: inline-block;
  justify-content: center;
  padding: 10px 95px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
