.footer {
  padding: 0;
  margin: 0;
}

.footer__footer-address {
  display: flex;
}

.footer__heading {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.footer__text {
  margin: 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer__social {

}

.footer__social__div {
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
}
}

.footer__social__img-map {
  width: 100%;
}

.footer__social__img-logo {
  justify-self: center;
  margin-top: 40px;
}
