.form-item {
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-item__form-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  padding: 0;
  margin-top: 13px;
  align-self: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 29.64px;
  }
}

.form-item__form-text-additionally {
  position: relative;
  margin-left: 45px;
  margin-bottom: 32px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
    margin-bottom: 25px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -23%;
    left: -45px;
    width: 30px;
    height: 30px;
    display: block;
    outline: 1px solid #cdcdcd;

    @media (min-width: @tablet-width) {
      top: -24%;
      left: -60px;
      width: 40px;
      height: 40px;
    }
  }
}

.form-item__form-text-additionally--checked {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/images/tick-form.svg");
    top: -15%;
    left: -41px;
    width: 18px;
    height: 14px;
    display: block;
    border: none;

    @media (min-width: @tablet-width) {
      width: 24px;
      height: 19px;
    }
  }
}

.form-item__radio {
  @media (min-width: @tablet-width) {
    margin-bottom: 13px;
  }
}

.form-item__form-text-radio {
  position: relative;
  padding-left: 45px;
  padding-bottom: 13px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-bottom: 5px;
    padding-left: 87px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    outline: 1px solid #cdcdcd;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.form-item__form-text-radio--checked {
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 9px;
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 50%;
    background-color: #68b738;

    @media (min-width: @tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.form-item__input {
  outline: 1px solid #e7e7e7;
  border: none;
  margin-bottom: 14px;
  margin-left: 23px;
  padding: 14px 15px 13px 15px;
  flex-grow: 1;
  text-transform: uppercase;
  margin: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 11px 20px;
  }
}
