.header {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  justify-content: space-between;
  margin: 13px 20px;

  @media (min-width: @tablet-width) {
    margin: 25px 33px;
  }

  @media (min-width: @desktop-width) {
    margin: 55px 110px;
  }
}
