img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/lato-Regular.woff2") format("woff2"), url("../fonts/lato/lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1240px;
    padding: 0 10px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  margin: 0;
  color: #000000;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 13px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .header {
    margin-top: 25px;
  }
}
@media (min-width: 1440px) {
  .header {
    margin-top: 60px;
    margin-bottom: 71px;
  }
}
@media (min-width: 768px) {
  .header--index {
    margin-top: -5px;
  }
}
.header__div {
  display: flex;
  gap: 56px;
  align-items: center;
}
@media (min-width: 768px) {
  .header__div {
    gap: 14px;
  }
}
.header__logo-img-desktop {
  display: none;
}
@media (min-width: 768px) {
  .header__logo-img-desktop {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header__logo-img-desktop {
    display: block;
  }
}
.header__logo-img-tablet {
  display: none;
}
@media (min-width: 768px) {
  .header__logo-img-tablet {
    display: block;
  }
}
@media (min-width: 1440px) {
  .header__logo-img-tablet {
    display: none;
  }
}
.header__logo-img-mobil {
  display: block;
}
@media (min-width: 768px) {
  .header__logo-img-mobil {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header__logo-img-mobil {
    display: none;
  }
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    text-decoration: none;
    gap: 4px;
  }
}
@media (min-width: 1440px) {
  .nav__list {
    gap: 23px;
  }
}
.nav__item {
  display: grid;
  padding-top: 22px;
  margin-right: 32px;
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}
.nav__item:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .nav__item {
    border-top: none;
    align-self: center;
    padding: 0;
  }
  .nav__item--active {
    position: relative;
  }
  .nav__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    height: 2px;
    background: #68b738;
  }
}
.nav__link {
  justify-self: center;
  text-decoration: none;
  color: #000000;
}
.nav__button-header {
  position: absolute;
  top: 6px;
  right: 25px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .nav__button-header {
    display: none;
  }
}
.nav--closed .nav__button-header::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.nav--closed .nav__button-header:active::before {
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .nav--closed .nav__item {
    display: none;
  }
  --active {
    display: block;
  }
}
.nav--opened .nav__button-header {
  top: 26px;
  left: auto;
  right: 21px;
}
.nav--opened .nav__button-header::before,
.nav--opened .nav__button-header::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.nav--opened .nav__button-header::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.nav--opened .nav__button-header::after {
  transform: rotate(-45deg);
}
.nav--opened .nav__button-header:active::before,
.nav--opened .nav__button-header:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .nav--opened .nav__list {
    position: absolute;
    top: 63px;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: auto;
    background-color: #ffffff;
  }
}
.main-container__examples-div {
  background-color: #eaeaea;
  padding-bottom: 41px;
}
@media (min-width: 768px) {
  .main-container__examples-div {
    background-color: #ffffff;
  }
}
.wrapper {
  display: grid;
  background-image: url("../img/images/img-general.jpg");
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 320px;
  background-position: 50% -1px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .wrapper {
    background-image: url("../img/images/img-general@2x.jpg");
  }
}
@media (min-width: 768px) {
  .wrapper {
    background-image: none;
    background-color: none;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    grid-template-columns: 1fr 820px;
    grid-template-rows: 200px 60px auto 240px;
    margin-top: 29px;
    background-image: url("../img/images/img-general-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 720px;
    background-position: 114% 139%;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .wrapper {
    background-image: url("../img/images/img-general-desktop@2x.jpg");
  }
}
.wrapper__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 28px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .wrapper__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    width: 416px;
    margin-left: 90px;
    margin-top: 49px;
  }
}
@media (min-width: 1440px) {
  .wrapper__title {
    color: #000000;
    margin-left: 80px;
    margin-top: 35px;
    margin-right: 28px;
  }
}
.wrapper__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  justify-self: center;
  margin: 0;
}
@media (min-width: 768px) {
  .wrapper__text {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    grid-column: 1 / 2;
    margin-top: 15px;
    margin-bottom: 50px;
    justify-self: start;
    margin-left: 90px;
  }
}
@media (min-width: 1440px) {
  .wrapper__text {
    margin-left: 81px;
    margin-top: -5px;
  }
}
@media (min-width: 1440px) {
  .wrapper__img {
    grid-row: 1/3;
    grid-column: 2/2;
  }
}
.wrapper-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  margin-top: 29px;
}
@media (min-width: 768px) {
  .wrapper-image {
    width: 709px;
    margin-top: -84px;
  }
}
@media (min-width: 1440px) {
  .wrapper-image {
    width: 552px;
    margin-left: -72px;
    margin-top: -49px;
  }
}
.wrapper__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  padding: 10px 63px;
  text-transform: uppercase;
  display: inline-block;
  justify-self: center;
  margin-top: 2px;
}
@media (min-width: 768px) {
  .wrapper__button {
    font-size: 20px;
    line-height: 26px;
    grid-row: 3/3;
    justify-self: start;
    margin-left: 90px;
    width: 244px;
    padding: 0;
    height: 54px;
    align-content: center;
    display: block;
    padding-left: 27px;
  }
}
@media (min-width: 1440px) {
  .wrapper__button {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 81px;
    margin-top: 4px;
  }
}
.advantages {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages {
    margin-top: 0;
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    display: flex;
    flex-direction: revert;
    gap: 80px;
    margin-top: 25px;
  }
}
.advantages__item {
  display: grid;
  grid-template-columns: 67px 110px auto;
  padding: 22px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .advantages__item {
    grid-template-columns: 1fr 1fr;
    padding: 78px 0 52px 52px;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    grid-template-columns: 134px 436px;
    padding: 50px 55px 55px 33px;
    grid-template-rows: 106px auto auto;
    width: 570px;
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .advantages__item-before,
  .advantages__item-after {
    display: block;
    grid-column: 2/3;
    grid-row: 1/4;
    align-self: center;
    justify-self: center;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .advantages__item-before,
  .advantages__item-after {
    grid-column: 1/2;
  }
}
.advantages__item-before {
  display: block;
  width: 50px;
  height: 53px;
}
@media (min-width: 768px) {
  .advantages__item-before {
    width: 200px;
    height: 211px;
  }
}
@media (min-width: 1440px) {
  .advantages__item-before {
    width: 100px;
    height: 106px;
  }
}
.advantages__item-after {
  display: block;
  width: 67px;
  height: 50px;
  margin-left: -7px;
}
@media (min-width: 768px) {
  .advantages__item-after {
    width: 268px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .advantages__item-after {
    width: 134px;
    height: 100px;
  }
}
.advatages__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 0 15px;
  align-self: center;
  grid-column: 2/4;
  margin-left: 3px;
}
@media (min-width: 768px) {
  .advatages__title {
    grid-column: 1/2;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .advatages__title {
    grid-column: 2/3;
    margin-left: 46px;
  }
}
.advantages__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #00000080;
  grid-column: 1/4;
  margin-bottom: 42px;
  margin-top: 23px;
}
@media (min-width: 768px) {
  .advantages__text {
    grid-column: 1/2;
    margin: 24px 0 48px 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .advantages__text {
    grid-column: 1/3;
    margin: 32px 0 30px 19px;
    width: 457px;
  }
}
.advantages__link {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  grid-column: 1/3;
  justify-self: flex-start;
}
.advantages__link::after {
  content: "";
  position: absolute;
  background-image: url("../img/images/arrow.svg");
  top: 50%;
  left: 120%;
  width: 24px;
  height: 12px;
  transform: translate(5px, -50%);
  background-size: 24px 12px;
}
@media (min-width: 768px) {
  .advantages__link {
    font-size: 20px;
    line-height: 29.64px;
  }
}
@media (min-width: 1440px) {
  .advantages__link {
    margin-left: 20px;
  }
}
.description {
  padding-bottom: 36px;
}
@media (min-width: 1440px) {
  .description {
    padding: 0;
  }
}
.description__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .description__title {
    font-size: 60px;
    line-height: 60px;
    margin: 54px 0 32px 0;
  }
}
@media (min-width: 1440px) {
  .description__title {
    margin: 70px 0 32px 0;
  }
}
.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .description__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 16px;
  }
}
@media (min-width: 1440px) {
  .description__list {
    display: flex;
    gap: 96px;
  }
}
.description__item {
  display: flex;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .description__item {
    display: block;
    padding-top: 40px;
    width: 230px;
    height: 280px;
  }
}
@media (min-width: 768px) {
  .description__img {
    width: 80px;
    height: 80px;
  }
}
.description__text {
  margin: 0 0 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .description__text {
    margin: 27px 0 57px 0;
    font-size: 16px;
    line-height: 24px;
  }
}
.examples {
  background-color: #eaeaea;
  padding-top: 22px;
}
@media (min-width: 768px) {
  .examples {
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .examples {
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
.examples__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .examples__title {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .examples__title {
    margin-bottom: 76px;
    margin-top: 50px;
  }
}
.examples__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .examples__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .examples__text {
    grid-column: 1/2;
    margin: 70px 0 69px 0;
  }
}
.examples__description {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .examples__description {
    flex-direction: revert;
  }
}
@media (min-width: 1440px) {
  .examples__description {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
  }
}
.examples__description-table {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 6px;
}
@media (min-width: 768px) {
  .examples__description-table {
    gap: 43px;
    margin-top: 56px;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .examples__description-table {
    justify-content: start;
  }
}
.examples__table {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #cdcdcd;
  margin: 0;
  padding: 0;
  width: 124px;
  height: 56px;
  padding-top: 13px;
}
@media (min-width: 768px) {
  .examples__table {
    width: 162px;
    height: 77px;
  }
}
.examples__detail-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 3px;
}
@media (min-width: 768px) {
  .examples__detail-title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 2px;
  }
}
.examples__detail-text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin: 0;
  padding: 9px 10px;
  width: 77px;
}
@media (min-width: 768px) {
  .examples__detail-text {
    font-size: 14px;
    line-height: 14px;
  }
}
.examples__result {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  align-self: center;
  margin-left: 0;
  margin-top: 33px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .examples__result {
    font-size: 20px;
    line-height: 20px;
    margin-left: auto;
    width: 174px;
    margin-top: 60px;
  }
}
@media (min-width: 1440px) {
  .examples__result {
    margin: 55px 0 75px 0;
    width: 100%;
  }
}
.examples__div-block {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .examples__div-block {
    width: 560px;
    height: 512px;
    margin-top: 99px;
    background: linear-gradient(to bottom, #ffffff 30%, #ffffff 30%, #eaeaea 20%, #eaeaea 20%);
  }
}
@media (min-width: 1440px) {
  .examples__div-block {
    margin-left: 224px;
  }
}
.examples__img-cat-before {
  grid-column: 2/3;
  grid-row: 1/3;
}
.examples__img-cat-after {
  grid-column: 3/4;
  grid-row: 1/3;
}
.examples__cat-before {
  display: flex;
  width: 50%;
  overflow: hidden;
}
.examples__cat-after {
  display: flex;
  width: 50%;
  overflow: hidden;
  justify-content: flex-end;
}
.examples__img {
  display: block;
  max-width: 280px;
  height: 256px;
}
@media (min-width: 768px) {
  .examples__img {
    max-width: 560px;
    width: 560px;
    height: 512px;
  }
}
.examples__button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: 2px solid #666666;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.examples__button::after {
  position: absolute;
  content: " ";
  display: block;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 256px;
  transform: translate(-50%, -50%);
  background-color: #666666;
}
@media (min-width: 768px) {
  .examples__button::after {
    height: 512px;
  }
}
.examples__button::before {
  position: absolute;
  content: "";
  background-image: url("../img/images/vector-reng-slider.svg");
  display: block;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 18px;
  transform: translate(-50%, -50%);
}
.catalog-products__catalog-gift {
  display: flex;
  padding: 43px 61px 43px 58px;
  margin-bottom: 38px;
  margin-top: 28px;
  background-image: url("../img/images/background-catalog.jpg");
  background-size: 280px 290px;
  height: 290px;
  color: #ffffff;
  border-top: 1px solid #cdcdcd;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .catalog-products__catalog-gift {
    background-image: url("../img/images/background-catalog@2x.jpg");
  }
}
@media (min-width: 768px) {
  .catalog-products__catalog-gift {
    margin-top: 73px;
    height: 200px;
    padding: 71px 126px;
    background-image: url("../img/images/background-catalog-tablet.jpg");
    background-size: 707px 200px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .catalog-products__catalog-gift {
    background-image: url("../img/images/background-catalog-tablet@2x.jpg");
  }
}
@media (min-width: 1440px) {
  .catalog-products__catalog-gift {
    height: 288px;
    margin-left: 80px;
    margin-top: 0;
    padding: 43px 42px;
    background-image: url("../img/images/background-catalog-desktop.jpg");
    background-size: 245px 288px;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .catalog-products__catalog-gift {
    background-image: url("../img/images/background-catalog-desktop@2x.jpg");
  }
}
.catalog-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;
  margin-bottom: 57px;
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-left: -22px;
}
@media (min-width: 768px) {
  .catalog-products__title {
    font-size: 60px;
    line-height: 60px;
    justify-content: normal;
    margin-top: 60px;
    margin-bottom: 94px;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .catalog-products__title {
    margin-top: 38px;
    margin-bottom: 94px;
  }
}
.catalog-products__card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
@media (min-width: 768px) {
  .catalog-products__card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 32px;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .catalog-products__card-list {
    width: 1220px;
    column-gap: 80px;
    row-gap: 37px;
  }
}
.catalog-products__additional-products-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin: 15px 0 35px 0;
}
@media (min-width: 768px) {
  .catalog-products__additional-products-title {
    margin-top: 39px;
    margin-left: 40px;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .catalog-products__additional-products-title {
    margin-left: 0;
    margin-top: 39px;
  }
}
@media (min-width: 1440px) {
  .catalog-products__additional-products-div {
    display: flex;
    margin-top: 80px;
  }
}
.catalog-products__catalog-gift-text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: end;
}
@media (min-width: 768px) {
  .catalog-products__catalog-gift-text {
    margin-left: auto;
    width: 161px;
    align-self: center;
  }
}
@media (min-width: 1440px) {
  .catalog-products__catalog-gift-text {
    align-self: end;
    width: 161px;
  }
}
.card-list__card-item {
  display: grid;
  grid-template-columns: 140px 50%;
  grid-template-rows: 1fr 1fr;
  border-top: 1px solid #ebebeb;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .card-list__card-item {
    width: 324px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 0 37px;
    border-top: 0;
  }
}
@media (min-width: 1440px) {
  .card-list__card-item {
    width: 245px;
    padding: 0 37px;
  }
}
.card-item__card-link {
  align-self: center;
  width: 140px;
  grid-row: 1/3;
}
@media (min-width: 768px) {
  .card-item__card-link {
    width: 200px;
    height: 210px;
  }
}
@media (min-width: 1440px) {
  .card-item__card-link {
    width: 169px;
  }
}
@media (min-width: 768px) {
  .card-item__img {
    width: 200px;
    height: 210px;
  }
}
@media (min-width: 1440px) {
  .card-item__img {
    width: 169px;
  }
}
.card-item__card-title {
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  margin-top: 2px;
}
@media (min-width: 768px) {
  .card-item__card-title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 23px;
  }
}
.card-item__card-link-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card-item__card-link-title {
    font-size: 20px;
    line-height: 24px;
  }
}
.card-item__card-description {
  display: grid;
  grid-column: 2/2;
  align-items: center;
  width: 100%;
  margin-top: -15px;
}
@media (min-width: 768px) {
  .card-item__card-description {
    margin-top: -4px;
    font-size: 16px;
    line-height: 20px;
    align-self: center;
    width: 100%;
  }
}
.card-item__card-table {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .card-item__card-table {
    border-bottom: 1px solid #c4c4c4;
    justify-content: space-between;
    padding-bottom: 4px;
    margin-bottom: 5px;
  }
}
.card-item__card-table-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .card-item__card-table-description {
    font-size: 16px;
    line-height: 20px;
  }
}
.card-item__button-catalog-card {
  display: grid;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  padding: 10px 0;
  text-transform: uppercase;
  min-width: 100%;
  grid-column: 1/3;
  margin-top: 51px;
  margin-bottom: 40px;
  justify-content: center;
}
@media (min-width: 768px) {
  .card-item__button-catalog-card {
    margin-bottom: 40px;
    margin-top: 27px;
  }
}
.extra-card {
  position: relative;
  display: flex;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  height: 207px;
  flex-direction: column;
  align-items: center;
  margin-bottom: -9px;
}
@media (min-width: 768px) {
  .extra-card {
    align-content: space-between;
    padding: 137px 93px 39px 93px;
    width: 324px;
    border: 2px solid #ebebeb;
    height: 429px;
    margin-top: 76px;
  }
}
@media (min-width: 1440px) {
  .extra-card {
    width: 245px;
    height: 431px;
    padding: 146px 40px 43px 40px;
  }
}
.extra-card__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  margin-bottom: 11px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .extra-card__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.extra-card__text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #111111;
  margin: 0;
  justify-self: center;
}
@media (min-width: 768px) {
  .extra-card__text {
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 47px;
  }
}
.extra-card__button {
  display: grid;
  justify-content: center;
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;
  width: 250px;
  align-self: center;
  margin-top: 89px;
  margin-bottom: 44px;
}
.extra-card__button::before,
.extra-card__button::after {
  display: block;
  content: "";
  position: absolute;
  top: 16%;
  left: 38%;
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
@media (min-width: 768px) {
  .extra-card__button::before,
  .extra-card__button::after {
    top: 19%;
    left: 41%;
    width: 60px;
  }
}
.extra-card__button::before {
  transform: rotate(180deg);
  box-shadow: none;
}
.extra-card__button::after {
  transform: rotate(-90deg);
}
@media (min-width: 768px) {
  .extra-card__button {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .extra-card__button {
    margin-top: 0;
    margin-bottom: 0;
    width: 169px;
  }
}
.additional-products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .additional-products-list {
    margin-top: 80px;
  }
}
@media (min-width: 1440px) {
  .additional-products-list {
    margin-top: 0;
  }
}
.additional-products-item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
}
.additional-products-item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-products-item {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 38px 26px 38px;
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .additional-products-item {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px 0 17px 0;
    width: 894px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}
.additional-products-item__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}
@media (min-width: 768px) {
  .additional-products-item__title {
    font-size: 20px;
    line-height: 20px;
    margin-top: 12px;
  }
}
@media (min-width: 1440px) {
  .additional-products-item__title {
    margin-right: auto;
  }
}
.additional-products-item__div {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .additional-products-item__div {
    gap: 52px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1440px) {
  .additional-products-item__div {
    gap: 112px;
    margin-top: 12px;
  }
}
.additional-products-item__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .additional-products-item__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-products-item__text {
    margin: 0;
  }
}
.additional-products-item__price {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: #444444;
}
@media (min-width: 768px) {
  .additional-products-item__price {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-products-item__price {
    margin: 0;
  }
}
.additional-products-item__additional-button {
  display: grid;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  padding: 10px 0;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 1440px) {
  .additional-products-item__additional-button {
    width: 244px;
    margin-left: 40px;
    height: 40px;
  }
}
.program-form__form {
  margin-bottom: 33px;
}
.program-form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-top: 37px;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .program-form__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 54px;
  }
}
.program-form__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .program-form__text {
    font-size: 20px;
    line-height: 30px;
  }
}
.program-form__form-div {
  margin-top: 25px;
  align-items: flex-start;
}
@media (min-width: 1440px) {
  .program-form__form-div {
    display: flex;
    margin-top: 66px;
    justify-content: space-between;
  }
}
.program-form__button-form {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  padding: 14px 24px;
  text-transform: uppercase;
  border: none;
  margin-top: 34px;
  height: 40px;
  width: 280px;
}
@media (min-width: 768px) {
  .program-form__button-form {
    margin-bottom: 60px;
    margin-top: 52px;
  }
}
@media (min-width: 1440px) {
  .program-form__button-form {
    margin-top: 60px;
    margin-bottom: 79px;
  }
}
.program-form__mini-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 157px;
}
@media (min-width: 768px) {
  .program-form__mini-text {
    font-size: 16px;
    line-height: 16px;
  }
}
.blank {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .blank {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .blank {
    min-width: 570px;
  }
}
.radio {
  border: none;
  padding: 22px 0 19px 0;
  margin: 0;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .radio {
    margin-top: 72px;
    outline: 1px solid #e7e7e7;
    padding: 23px 27px;
  }
}
@media (min-width: 1440px) {
  .radio {
    margin: 0;
    margin-left: 80px;
    padding: 25px 28px;
    width: 570px;
  }
}
.contacts-user {
  border: none;
  padding: 0;
  margin: 0;
}
.contacts-user__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .contacts-user__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    margin-top: 65px;
  }
}
@media (min-width: 768px) {
  .contacts-user__title {
    margin-top: 70px;
  }
}
.contacts-user__title::after {
  display: block;
  content: "";
  position: absolute;
  top: 28%;
  left: 109%;
  width: 1400px;
  height: 2px;
  background-color: #68b738;
}
.contacts-user__form-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.comment {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 27px;
}
.comment__form-title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .comment__form-title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 65px;
    margin-bottom: 87px;
  }
}
@media (min-width: 1440px) {
  .comment__form-title {
    margin-top: 70px;
    margin-bottom: 78px;
  }
}
.comment__form-title::after {
  display: block;
  content: "";
  position: absolute;
  top: 55%;
  left: 114%;
  width: 1400px;
  height: 2px;
  background-color: #68b738;
}
.comment__form-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  flex-grow: 1;
  height: 150px;
}
@media (min-width: 768px) {
  .comment__form-text {
    font-size: 20px;
    line-height: 30px;
  }
}
.additionally {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 22px;
}
@media (min-width: 768px) {
  .additionally {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .additionally {
    display: flex;
    justify-content: space-between;
  }
}
.additionally__form-item {
  height: 30px;
  margin-bottom: 12px;
}
.additionally__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 23px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .additionally__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 65px;
    margin-bottom: 57px;
  }
}
@media (min-width: 1440px) {
  .additionally__title {
    margin-top: 70px;
  }
}
.additionally__title::after {
  display: block;
  content: "";
  position: absolute;
  top: 55%;
  left: 114%;
  width: 1400px;
  height: 2px;
  background-color: #68b738;
}
.form-item {
  display: flex;
}
.form-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-item {
    margin-bottom: 20px;
  }
  .form-item:last-child {
    margin-bottom: 0;
  }
}
.form-item__form-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  padding: 0;
  margin-top: 13px;
  align-self: center;
}
@media (min-width: 768px) {
  .form-item__form-text {
    font-size: 20px;
    line-height: 29.64px;
  }
}
.form-item__form-text-additionally {
  position: relative;
  margin-left: 45px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-item__form-text-additionally {
    margin-left: 60px;
    margin-bottom: 32px;
  }
}
.form-item__form-text-additionally::before {
  content: "";
  position: absolute;
  top: -23%;
  left: -45px;
  width: 30px;
  height: 30px;
  display: block;
  outline: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .form-item__radio {
    margin-bottom: 13px;
  }
}
.form-item__form-text-radio {
  position: relative;
  padding-left: 45px;
  padding-bottom: 13px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-item__form-text-radio {
    padding-bottom: 5px;
    padding-left: 87px;
  }
}
@media (min-width: 768px) {
  .form-item__form-text-radio {
    padding-left: 60px;
  }
}
.form-item__form-text-radio::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  outline: 1px solid #cdcdcd;
}
.form-item__form-text-radio--checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 9px;
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 50%;
  background-color: #68b738;
}
.form-item__input {
  outline: 1px solid #e7e7e7;
  border: none;
  margin-bottom: 14px;
  margin-left: 13px;
  padding: 14px 15px 13px 15px;
  flex-grow: 1;
  text-transform: uppercase;
}
.form-item__input:last-child {
  margin-bottom: 0;
}
@media (min-width: 1440px) {
  .form-item__input {
    padding: 11px 20px;
  }
}
.footer__img-footer-address {
  position: relative;
  height: 474px;
}
@media (min-width: 768px) {
  .footer__img-footer-address {
    height: 572px;
  }
}
@media (min-width: 1440px) {
  .footer__img-footer-address {
    height: 400px;
  }
}
.footer__container {
  z-index: 12;
  position: relative;
  padding: 0;
}
@media (min-width: 1440px) {
  .footer__container {
    z-index: 12;
    position: relative;
    top: 45px;
  }
}
.footer--color {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .footer--color {
    background-color: #ffffff;
  }
}
.footer__footer-address {
  display: flex;
  padding: 26px 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__footer-address {
    padding: 60px 70px;
    margin-top: 62px;
    margin-bottom: 20px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .footer__footer-address {
    padding: 60px 74px;
    background-color: #ffffff;
    width: 565px;
    display: flex;
    gap: 87px;
  }
}
.footer__map {
  position: absolute;
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  .footer__map {
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .footer__map {
    top: 0%;
  }
}
.footer__heading {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 20px;
    line-height: 26px;
  }
}
.footer__text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  margin-left: 3px;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 16px;
    line-height: 20px;
    width: 157px;
  }
}
.footer__div-block {
  background-color: #f2f2f2;
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer__div-block {
    margin-top: 27px;
  }
}
.footer__div {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__div {
    flex-direction: revert;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.footer__logo-htmlacademy {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}
@media (min-width: 768px) {
  .footer__logo-htmlacademy {
    justify-content: end;
    gap: 23px;
  }
}
.footer__img {
  display: block;
  width: 100%;
}
.social-list {
  margin: 0;
  padding: 0;
  margin: 10px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 28px 28px 28px;
  padding: 20px 74px;
  gap: 24px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 20px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .social-list {
    border: none;
    padding: 8px 0;
    margin: 0;
    gap: 24px;
    margin-left: 151px;
  }
}
.social-list__item {
  height: 22px;
}
.social__link {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */
